* {
  font-family: "Raleway";
  text-align: center;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    -90deg,
    #3023ae 0%,
    #53a0fd 48%,
    #b4ec51 100%
  );
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(./assets/Raleway-Light.ttf) format("ttf");
}

.img {
  padding: 2em;
  width: 360px;
  height: 650px;
}

@media screen and (max-width: 400px) {
  .img {
    width: 100%;
  }
}

.header {
  font-size: 3.5em;
  font-family: "Space Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  color: #f1d29f;
  margin: 0.3em;
  text-decoration: underline;
  letter-spacing: -3;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.8em;
  font-family: Raleway, "Space Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  color: #eef3ff;
}

.title {
  font-size: 5em;
  font-family: "Space Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
